
.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.perfil {
  background: linear-gradient(180deg, #006dfb 0%, #fe0062 100%);
    width: 380px;
    height: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 
        0 0 0.1rem #fe0062, 
        0 0 0.7rem #fe0062, 
        0 0 1rem #fe0062, 
        0 0 2rem #fe0062;
 }

 .foto_usuario{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
 }

 .posts {
    margin-bottom: 30px;
    padding: 30px;
    height: 50vh;
    width: 60vh;
   
  }
  
  .post_card {
    background: linear-gradient(180deg, #006dfb 0%, #fe0062 100%);
    color: white;
    padding: 10vh;
    text-align: center;
    width: 50vh;
    
  }

  .containerCard{
    display: flex;
    border: 2px solid #fe0062;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  h3 {
    color: #fff;
    padding-top: 40px;
    font-family: Arial;
  }

  .btnDeletar{
    border-radius: 10px;
    border: transparent;
    width: 10vh;
    height: 10vh;
    margin: 1rem;
    background-color: #d60917;
    color: #fff;
    border: none;
  }
  .btnDeletar:hover {
    background-color: red;
    transform: translateY(-3px);
    cursor: pointer;
  }

  .btnAtualizar{
    border-radius: 10px;
    border: transparent;
    width: 10vh;
    height: 10vh;
    margin: 1rem;
    background-color: #006dfb;
    color: #fff;
  }
  .btnAtualizar:hover {
    background-color: #572bbd;
    transform: translateY(-3px);
    cursor: pointer;
  }

  .btnAtualizarPerfil{
    width:  15vh;
    height: 5vh;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    margin: 1rem;
}
.btnAtualizarPerfil:hover {
  background-color: #572bbd;
  transform: translateY(-3px);
  cursor: pointer;
}

  p{
    margin: 0;
  }