*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    display: grid;
}

body,html, #root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: azure;
    background-color: #1a1b26;
}