.cabecalho{
    background: linear-gradient(90deg, #006DFB, #FE0062);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'jomolhari', sans-serif;
    font-size: 1.5rem;
}

.logo{
    position: absolute;
    left: 30px;
    height: 6rem;
    margin-right: 2rem;
}

.perfil {
    position: absolute;
    transition: tranform 0.3s ease, opacity 0.3s ease;
    top: -8px;
    right: 30px;
    height: 7rem;
    width: 65px;
}

.perfil:hover {
    transform: scale(1.1);
    transform: rotate(15deg);
}