.cabecalho{
  background: linear-gradient(90deg, #006DFB, #FE0062);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'jomolhari', sans-serif;
  font-size: 1.5rem;
}

.logo{
  font-size: 0.8rem;
  position: absolute;
  left: 0px;
  height: 6rem; 
  margin-left: 2rem;
  margin-top: -3rem;
  transition: tranform 0.3s ease, opacity 0.3s ease;
}

.logo:hover{
transform: scale(1.8);
transform: rotate(15deg);
}

.perfil {
  position: absolute;
  transition: tranform 0.3s ease, opacity 0.3s ease;
  top: -8px;
  right: 30px;
  height: 7rem;
  width: 65px;
}

.perfil:hover {
  transform: scale(1.1);
  transform: rotate(15deg);
}

@media (max-width: 768px) {
  .cabecalho {
    font-size: 1.2rem; 
  }

  .logo {
    margin-top: -40px;
    height:5rem; 
    left: 10px; 
  }

  .perfil {
    height: 5rem; 
    width: 50px; 
    right: 10px; 
  }
}